<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackLauncher,ImpliedTouchscreenHardware,MissingLeanbackSupport">
    <application>
        <activity android:name="com.fongmi.android.tv.test.CorePlaybackActivity" android:exported="false" android:theme="@style/Theme.App" />
    </application>
</manifest>
